<form [formGroup]="addUserForm" (submit)="onSubmit()">
    
        <div>
            <label for="name">Name:</label>
            <input id="name" formControlName="name" type="text" />
          </div>
        
          <div>
            <label for="email">Email:</label>
            <input id="email" formControlName="email" type="email" />
          </div>
        
          <div>
            <label for="password">Password:</label>
            <input id="password" formControlName="password" type="password" />
          </div>
        
          <div>
            <label for="position">Position:</label>
            <select id="position" formControlName="position">
                @for (pos of  positions; track $index) {
                    <option  [value]="pos">{{ pos }}</option>
                }

               
            </select>
          </div>
         
            <button type="submit" [disabled]="addUserForm.invalid">Submit</button>

</form>