@if(currentStudent != null)
{
    <form (ngSubmit)="onSubmit()">
        <label for="firstName">firstName:</label>
        <input id="firstName" [(ngModel)]="currentStudent.firstName" name="firstName" required>

        <label for="age">age:</label>
        <input id="age" [(ngModel)]="currentStudent.age" name="age" required>

        <label>address:</label>
        <input id="address" [(ngModel)]="currentStudent.address" name="address" required>
   
        <button type="submit">Submit</button>
    </form>
}
   