more details:
@if(stud.isActive){
    <h2>Student Details:</h2>
    <form >
        <input #firstname type="text" placeholder="first name" [value]="stud.firstname"/>
        <input #lastname type="text" placeholder="last name"[value]="stud.lastname"/>
        <input #address type="text" placeholder="Address" [value]="stud.address"/>
        <input #phone type="text" placeholder="PhoneNumber" [value]="stud.phone"/>
        <input #age type="number"  placeholder="age" [value]="stud.age" />
        <input #avgeMarks type="number" placeholder="avgeMarks" [value]="stud.avgeMarks"/>
        <input #isPaid type="text" placeholder=" isPaid " [value]="stud.isPaid"/>
        <input #isActive type="text" placeholder="status" [value]="stud.isActive"/>
        <button type="button" (click)="OnSave(firstname.value,lastname.value,address.value,phone.value,age.value
        ,avgeMarks.value,isPaid.value,isActive.value)">Save</button>
    <button (click)="onCancel()">Cancle</button>
    </form  >

}
@else{ 
    <form >
        <input #firstname type="text" placeholder="first name" [value]="stud.firstname"/>
        <input #lastname type="text" placeholder="last name"[value]="stud.lastname"/>
        <input #address type="text" placeholder="Address" [value]="stud.address"/>
        <input #phone type="text" placeholder="PhoneNumber" [value]="stud.phone"/>
        <input #age type="number"  placeholder="age" [value]="stud.age" />
        <input #avgeMarks type="number" placeholder="avgeMarks" [value]="stud.avgeMarks"/>
        <input #isPaid type="text"  placeholder=" isPaid" [value]="stud.isPaid"/>
        <input #isActive type="text" placeholder="status"  [value]="stud.isActive"/>
        <input  #dateLeft type="date" placeholder="dateLeft" value="stud.dateLeft"/>
        <button type="button" (click)="OnSave(firstname.value,lastname.value,address.value,phone.value,age.value
        ,avgeMarks.value,isActive.value,isPaid.value)">Save</button>
    <button (click)="onCancel()">Cancle</button>
    </form  > 
       
 } 

