<div>
<h1>teacher list</h1>
<ul>
        
    @for (teacher of teachers; track teacher.ID) {
<li>
    {{ 'teacher' | icons }}
   name: {{teacher.name}}
   <br />
   ID: {{teacher.ID}}
   <br />
   courses: {{teacher.classes}}
<button (click)="onUpdateTeacher(teacher)">Edit</button>
  
</li>
    }
</ul>
<button (click)="onAdd()">Add Teacher</button>
</div>
@if(teacher){
    <app-teacher-form (SaveTeacher)="teacher =undefined" [currentTeacher]="teacher" ></app-teacher-form>

}
@if(isAdded){
    <app-teacher-form (SaveTeacher)="onClose()" [isAdd]="true"></app-teacher-form>
 
}

