<ng-template #template>
    <p>--------Student list---------</p>
</ng-template>
<p>Which color do you choose?</p>
<input type="radio" name="color" (click)="selectedColor = 'green'">green
<input type="radio" name="color" (click)="selectedColor = 'red'">red
<input type="radio" name="color" (click)="selectedColor = 'yellow'">yellow
<ng-container *ngTemplateOutlet="template"></ng-container>

@for(stud of allStudent; track stud.id){
    <br/>
<b>------------------------------------------------------------------------</b>
<br />
<div Highlight [color]="selectedColor">
    Id= {{stud.id}},
    Name= {{stud.firstName}} {{stud.lastName}},
    Age={{stud.age}},
    Address= {{stud.address}},
    Phone={{stud.phone}},isActive={{stud.isActive}}, isPaid:{{stud.isPaid}}</div>
<button (click)="Delete(stud)">delete student</button>
<button (click)="Edit(stud)">edit student</button>

@if(stud.isPaid){
<br />
<app-courses-list></app-courses-list>
}
}
<ng-container *ngTemplateOutlet="template"></ng-container>

@if(studentToDelete){
<app-information-card (InformationCardAns)="InformationCardAns($event)">
    <h1 ngProjectAs="header">Oops</h1>
    <div ngProjectAs="body">Are you sure you want to delete the student?</div>
</app-information-card>
}
@if (currentStudent) {
<app-student-details (SaveStudent)="SaveStudent($event)" [student]="currentStudent"
    [isEdit]="true"></app-student-details>
}
<hr>

<button (click)="Add()">Add student</button>
<br />
@if (showAddPannel) {
<app-student-details (SaveStudent)="SaveStudent($event)"></app-student-details>
}