<nav> 
  <a routerLink="/lesson4" routerLinkActive="buttonactive">lesson4</a>
  <a routerLink="/lesson5" routerLinkActive="buttonactive" >lesson5</a>
  <a routerLink="/lesson6" routerLinkActive="buttonactive" >lesson6</a>
  <a routerLink="/lesson7" routerLinkActive="buttonactive" >lesson7</a>
  <a routerLink="/lesson8" routerLinkActive="buttonactive" >lesson8</a>
  <a routerLink="/lesson9" routerLinkActive="buttonactive" >lesson9</a>
  <!-- <a routerLink="/lesson10" routerLinkActive="buttonactive" >lesson10</a> -->
  <a routerLink="/lesson11http" routerLinkActive="buttonactive" >lesson11http</a>
  <a routerLink="/lesson11menu" routerLinkActive="buttonactive" >lesson11menu</a>
  <a routerLink="/lesson12" routerLinkActive="buttonactive" >lesson12</a>
  <a routerLink="/lesson12style" routerLinkActive="buttonactive" >lesson12 style</a>
  <a routerLink="/lesson13" routerLinkActive="buttonactive" >lesson13 rxjs</a>
  <a routerLink="/lesson14" routerLinkActive="buttonactive" >lesson14 guards</a>
</nav>

<router-outlet></router-outlet>
