<!-- 

<app-lesson-4></app-lesson-4>

<div>start lesson 5</div>
<app-lesson-5></app-lesson-5>
<div>end lesson 5</div>

<div>start lesson 6</div>
<app-lesson-6></app-lesson-6>
<div>end lesson 6</div>

<div>start lesson 7</div>
<app-lesson-7></app-lesson-7>
<div>end lesson 7</div> -->
<!-- <div>start lesson 8</div>
<app-lesson-8></app-lesson-8>
<div>end lesson 8</div> -->

<div>start lesson 9</div>
<app-lesson-9></app-lesson-9>
<div>end lesson 9</div>
<!-- <a href="" (click)="CheckMenu(1)">הרשמה</a>

<a href="" (click)="CheckMenu(2)">תלמידים</a>

<a href="" (click)="CheckMenu(3)">מוצרים</a>
@if(false){
<a href="" (click)="CheckMenu(4)">תשלום</a>
}

@for(stud of allStudent; track stud.id){

  <app-student [currentStudent]="stud"></app-student>
}

<button (click)="CheckKeyPress()">click me</button> -->

<!-- <app-menu></app-menu> -->
<!-- @switch(menuChoose)
{
  @case(MenuOptions.Registration){
<h1></h1>>
  }

} -->

<!-- @switch (menuChoose) {
  @case ('admin') { <h1></h1> }
  @case ('moderator') { <h1></h1> }
  @default { <h1></h1> }
} -->
