@if(currentTeacher){
<form #form="ngForm" (ngSubmit)="onSubmit()">

    <label for="name"> name:</label>
    <input #name="ngModel" id="name" [(ngModel)]="currentTeacher.name" name="nameTeacher" minlength="3" required>
    @if(name.touched) {
    @if(name.hasError('minlength')) {
    <small class="error-invalid">Name must be at least 3 characters length</small>
    }
    @if(name.hasError('required')) {
    <small class="error-invalid"> Name is required</small>
    }
    }
   
    
    <label for="class"> class:</label>
    <input #class="ngModel" id="class" [(ngModel)]="currentTeacher.classes" name="classTeacher" minlength="1" required>
    @if(class.touched) {
    @if(class.hasError('minlength')) {
    <small class="error-invalid">>Must be at least 1 class</small>
    }
    @if(class.hasError('required')) {
    <small class="error-invalid"> Class is required</small>
    }


    }
    <button type="submit">Save</button>
</form>

}
@if(isAdd){

<form (ngSubmit)="onSubmit()">
    <label  for="name"> name:</label>
    <input  #name="ngModel" id="name" [(ngModel)]="teacher.name" name="nameTeacher" required>
    @if(name.touched) {
        @if(name.hasError('minlength')) {
        <small class="error-invalid">Name must be at least 3 characters length</small>
        }
        @if(name.hasError('required')) {
        <small class="error-invalid"> Name is required</small>
        }
        }
       
    <label for="Id">ID:</label>
    <input #ID="ngModel" id="Id" [(ngModel)]="teacher.ID" name="IdTeacher" minlength="9" required>
    @if (ID.touched) {
        @if(ID.hasError('required')) {
        <small class="error-invalid"> ID is required</small>
        }
        @if(ID.hasError('minlength')) {
        <small class="error-invalid">ID must be at least 9 numbers length</small>
        }
    
    }
    <label for="class"> class:</label>
    <input #class="ngModel" id="class" [(ngModel)]="teacher.classes" name="classTeacher" required>
    @if(class.touched) {
        @if(class.hasError('minlength')) {
        <small class="error-invalid">>Must be at least 1 class</small>
        }
        @if(class.hasError('required')) {
        <small class="error-invalid"> Class is required</small>
        }}
    <button type="submit">Add</button>
</form>
}